Python 3.12.0에 연결됨

In [1]:
삼성전자 = 50000

In [2]:
삼성전자 *

SyntaxError: invalid syntax (<ipython-input-2-6b5f8c60f675>, line 1)

In [3]:
총평가금액 = 삼성전자 * 10

In [4]:
print(총평가금액)

500000

In [5]:
시가총액 = '298조'
현재가 = 50000
per = 15.79

In [6]:
print(시가총액, type(시가총액))

298조 <class 'str'>

In [7]:
print(현재가, type(현재가))

50000 <class 'int'>

In [8]:
print(per, type(per))

15.79 <class 'float'>

In [9]:
s = "hello"
t = "python"

In [10]:
print(s, "!", t)

hello ! python

In [11]:
print(s+'!', t)

hello! python

In [12]:
2 + 2 * 3

8

In [13]:
a = 128
print(type(a))

<class 'int'>

In [14]:
a = "132"

In [15]:
print(type(a)

SyntaxError: incomplete input (<ipython-input-15-0d607acf311b>, line 1)

In [16]:
print(type(a))

<class 'str'>

In [17]:
num_str = "720"

In [18]:
num_int = int(num_str)

In [19]:
print(num_int)

720

In [20]:
num = 100

In [21]:
str_num = str(num)

In [22]:
print(str_num)

100

In [23]:
문자열 = 15.79

In [24]:
실수 = float(문자열)

In [25]:
문자열 = "15.79"

In [26]:
실수 = float(문자열)

In [27]:
print(실수)

15.79

In [28]:
type(실수)

float

In [29]:
year = "2020"

In [30]:
int_year = int(year)

In [31]:
print(int_year - 3)
print(int_year - 2)
print(int_year - 1)

2017
2018
2019

In [32]:
에어컨 = 48584

In [33]:
총금액 = 에어컨 * 36
print(총금액)

1749024

In [34]:
letters = 'python'

In [35]:
print(letter[0,3])

NameError: name 'letter' is not defined

In [36]:
print(letters[0,3])

TypeError: string indices must be integers, not 'tuple'

In [37]:
print(letters[0], letters[3])

p h

In [38]:
license_plate = "24rk 2210"

In [39]:
print(license_plate[-4:])

2210

In [40]:
string = "홀짝홀짝홀짝"
print(string[0], string[2], string[4])

홀 홀 홀

In [41]:
print(string[::2])

홀홀홀

In [42]:
string2 = "PYTHON"
print(string2[-1:])

N

In [43]:
print(string2[::-1])

NOHTYP

In [44]:
phone_num = "010-1111-2222"

In [45]:
pring(phone_num[3::4])

NameError: name 'pring' is not defined

In [46]:
print(phone_num[3::4])

-12

In [47]:
phone_num2 = phone_num.replace("-"," ")

In [48]:
print(phone_num2)

010 1111 2222

In [49]:
print(phone_num.replace("-",""))

01011112222

In [50]:
url = "http://sharebook.kr"
url_sprit = url.split(".")
print(url_sprit[-1])

kr

In [51]:
string3 = "abcdef23909jfdk"
string3 = string.replace('a','A')
print(string3)

홀짝홀짝홀짝

In [52]:
print(string3)

홀짝홀짝홀짝

In [53]:
string3 = "abcdef23909jfdk"
string3 = string3.replace('a','A')
print(string3)

Abcdef23909jfdk

In [54]:
string4 = 'abcd'
string4.replace('b','B')
print(string4)

abcd

In [56]:
# 문자열 합치기
a = "3"
b = "4"
print(a + b)

34

In [57]:
# 문자열 곱하기
print("Hi" * 3)

HiHiHi

In [58]:
print("-" * 80)

--------------------------------------------------------------------------------

In [59]:
t1 = 'python'
t2 = 'java'
print((t1 + ' ' + t2)*3)

python javapython javapython java

In [60]:
t3 = t1 + ' ' + t2 + ' '

In [61]:
print(t3 + 4)

TypeError: can only concatenate str (not "int") to str

In [62]:
print(t3 * 4)

python java python java python java python java

In [63]:
#문자열 출력

In [64]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

In [65]:
profile1 = "이름:" + name1 + ' ' + "나이:" + age1
profile2 = "이름:" + name2 + ' ' + "나이:" + age2

TypeError: can only concatenate str (not "int") to str

In [66]:
print("이름: %s 나이: %d" % (name1,age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [67]:
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [68]:
상장주식수 = "5,969,782,550"
컴마제거 = 상장주식수.replace(",","")
타입변환 = int(컴마제거)
print(타입변환, type(타입변환))

5969782550 <class 'int'>

In [69]:
#문자열 슬라이싱

In [70]:
분기 = "2020/03(E) (IFRS연결)"

In [71]:
print(분기[:7])

2020/03

In [73]:
#strip 메서드

In [74]:
data = "   삼성전자   "

In [75]:
data2 = data.strip(" ")

In [76]:
print(data2)

삼성전자

In [77]:
print(data)

   삼성전자

In [79]:
#upper 메서드

In [80]:
ticker = "btc_krw"

In [81]:
ticker2 = ticker.upper

In [82]:
print(ticker2)

<built-in method upper of str object at 0x10f28f090>

In [83]:
ticker2 = ticker.upper()

In [84]:
print(ticker2)

BTC_KRW

In [85]:
#lower 메서드

In [86]:
ticker3 = ticker2.lower()

In [87]:
print(ticker3)

btc_krw

In [88]:
#capitalize 메서드

In [89]:
a = "hello"

In [90]:
a = a.capitalize()

In [91]:
print(a)

Hello

In [92]:
#endswith 메서드

In [93]:
file_name = "보고서.xlsx"

In [94]:
print(file_name.endswith())

TypeError: endswith() takes at least 1 argument (0 given)

In [95]:
file_name.endswith("xlsx")

True

In [96]:
file_name = "보고서.xlsx"

In [97]:
file_name.endswith("xlsx", "xls")

TypeError: slice indices must be integers or None or have an __index__ method

In [98]:
file_name.endswith(("xlsx", "xls"))

True

In [99]:
# split 메서드

In [100]:
a = "hello world"

In [101]:
a.split(" ")

['hello', 'world']

In [102]:
print(a)

hello world

In [103]:
ticker = "btc_krw"

In [104]:
ticker.split("_")

['btc', 'krw']

In [105]:
date = "2020-05-01"

In [106]:
date2 = date.split("-")

In [107]:
print(date2)

['2020', '05', '01']

In [108]:
# rstrip 메서드

In [109]:
data = "039490   "

In [110]:
data.rstrip(" ")

'039490'

In [111]:
data = data.rstrip(" ")

In [112]:
print(data)

039490