Python 3.12.0에 연결됨

In [1]:
for 변수 in ['A','B','C'] :
    print(변수)

A
B
C

In [2]:
for 변수 in [10,20,30] :
    print(변수)

10
20
30

In [3]:
for 변수 in [10,20,30] :
    print(변수 + '------')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [4]:
for 변수 in [10,20,30] :
    print(변수,'\n', '------')

10
 ------
20
 ------
30
 ------

In [5]:
print('+++++')
for 변수 in [10,20,30] :
    print(변수)

+++++
10
20
30

In [6]:
리스트 = [100,200,300]
for i in 리스트 :
    print(i + i*0.1)

110.0
220.0
330.0

In [7]:
리스트 = [100,200,300]
for i in 리스트 :
    print(i + 10)

110
210
310

In [8]:
메뉴 = ['김밥','라면','튀김']
for i in 메뉴 : 
    print('오늘의 메뉴: ' + i)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [9]:
기업 = ['SK하이닉스', '삼성전자', 'LG전자']
for i in 기업 :
    print(len(i))

6
4
4

In [10]:
동물 = ['dog', 'cat','parrot']
for i in 동물 :
    print(동물 + len(동물))

TypeError: can only concatenate list (not "int") to list

In [11]:
동물 = ['dog', 'cat','parrot']
for i in 동물 :
    print(동물, len(동물))

['dog', 'cat', 'parrot'] 3
['dog', 'cat', 'parrot'] 3
['dog', 'cat', 'parrot'] 3

In [12]:
동물 = ['dog', 'cat','parrot']
for i in 동물 :
    print(i, len(i))

dog 3
cat 3
parrot 6

In [13]:
동물 = ['dog', 'cat','parrot']
for i in 동물 :
    print(i[0])

d
c
p

In [14]:
숫자 = [1,2,3]
for i in 숫자 :
    print('3 x', i)

3 x 1
3 x 2
3 x 3

In [15]:
숫자 = [1,2,3]
for i in 숫자 :
    print('3 x', i, '=',i*3)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [16]:
숫자 = [1,2,3]
for i in 숫자 :
    print('3 * {} = {}'.format(i,3*i))

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9

In [17]:
한글 = ['가','나','다','라']
for i in 한글[1:] :
    print(i)

나
다
라

In [18]:
한글 = ['가','나','다','라']
for i in 한글[0,2] :
    print(i)

TypeError: list indices must be integers or slices, not tuple

In [19]:
한글 = ['가','나','다','라']
for i in 한글[::2] :
    print(i)

가
다

In [20]:
한글 = ['가','나','다','라']
for i in 한글[-1:0] :
    print(i)

In [21]:
한글 = ['가','나','다','라']
for i in 한글[::-1] :
    print(i)

라
다
나
가

In [22]:
정수 = [3,-20,-3,44]
for i in 정수 :
    if i<0 :
        print(i)

-20
-3

In [23]:
배수 = [3,100,23,44]
for i in 배수 :
    if i / 3 == 0 :
        print(i)

In [24]:
배수 = [3,100,23,44]
for i in 배수 :
    if i % 3 == 0 :
        print(i)

3

In [25]:
숫자2 = [13,21,12,14,30,18]
for i in 숫자2 :
    if i % 3 == 0 and i <20 :
        print(i)

12
18

In [26]:
word = ['I','study','python','language','!']
for i in word :
    if len(i) > 3 :
        print(i)

study
python
language

In [27]:
alphabet = ['A','b','c','D']
for i in alphabet :
    if i.upper == i :
        print(i)

In [28]:
alphabet = ['A','b','c','D']
for i in alphabet :
    if i.upper
        print(i)

SyntaxError: expected ':' (<ipython-input-28-aa47ef7f2d76>, line 3)

In [29]:
alphabet = ['A','b','c','D']
for i in alphabet :
    if i.upper :
        print(i)

A
b
c
D

In [30]:
alphabet = ['A','b','c','D']
for i in alphabet :
    if i.upper() :
        print(i)

A
b
c
D

In [31]:
alphabet = ['A','b','c','D']
for i in alphabet :
    if i.upper()==i :
        print(i)

A
D

In [32]:
alphabet = ['A','b','c','D']
for i in alphabet :
    if i.isupper() :
        print(i)

A
D

In [33]:
alphabet = ['A','b','c','D']
for i in alphabet :
    if i.lower() == i :
        print(i)

b
c

In [35]:
alphabet = ['A','b','c','D']
for i in alphabet :
    if not i.isupper() :
        print(i)

b
c

In [36]:
pet = ['dog','cat','parrot']

for i in pet :
    print(i.upper([0]))

TypeError: str.upper() takes no arguments (1 given)

In [37]:
pet = ['dog','cat','parrot']

for i in pet :
    print(i.upper()[0])

D
C
P

In [38]:
pet = ['dog','cat','parrot']

for i in pet :
    print(i[0].upper())

D
C
P

In [39]:
pet = ['dog','cat','parrot']

for i in pet :
    first = i[0]
    upper = first.upper()
    print(upper + i[1:])

Dog
Cat
Parrot

In [40]:
for i in pet :
    print(i[0].upper() + i[1:])

Dog
Cat
Parrot

In [41]:
file = ['hello.py','ex01.py','intro.hwp']

for i in file :
    result = i.split('.')
    print(result[0])

hello
ex01
intro

In [42]:
a = ['intra.h','intra.c','define.h','run.py']

for i in a :
    if i[-2:] == '.h' :
        print(i)

intra.h
define.h

In [43]:
a = ['intra.h','intra.c','define.h','run.py']

for i in a :
    split = i.split(".")
    if split[1] == 'h' :
        print(i)

intra.h
define.h

In [44]:
for i in a :
    if i[-2:] == '.h' or i[-2:] == '.c' :
        print(i)

intra.h
intra.c
define.h

In [45]:
list(range(3))

[0, 1, 2]

In [46]:
for i in range(100) :
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [47]:
list[2002:2050:4]

list[slice(2002, 2050, 4)]

In [48]:
print(list(range(2002,2050,4)))

[2002, 2006, 2010, 2014, 2018, 2022, 2026, 2030, 2034, 2038, 2042, 2046]

In [49]:
for x in range(2002,2051,4) :
    print(x)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [50]:
for i in range(1,31) :
    if i % 3 == 0 :
        print(i)

3
6
9
12
15
18
21
24
27
30

In [51]:
for num in range(3,31,3) :
    print(num)

3
6
9
12
15
18
21
24
27
30

In [52]:
print(list(range(99,0,-1)))

[99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [53]:
for x in list(range(99,0,-1)) :
    print(x)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [54]:
for i in range(100) :
    print(99-i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [55]:
for i in list(range(0.0,1,0.1)) :
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

In [56]:
for i in list(range(0,1,0.1)) :
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

In [57]:
for i in float(list(range(0,1,0.1))) :
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

In [58]:
for num in range(10) :
    print(num/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [59]:
for i in range(0,10) :
    print('3x',i,'=',i*3)

3x 0 = 0
3x 1 = 3
3x 2 = 6
3x 3 = 9
3x 4 = 12
3x 5 = 15
3x 6 = 18
3x 7 = 21
3x 8 = 24
3x 9 = 27

In [60]:
for i in range(1,10) :
    print('3x',i,'=',i*3)

3x 1 = 3
3x 2 = 6
3x 3 = 9
3x 4 = 12
3x 5 = 15
3x 6 = 18
3x 7 = 21
3x 8 = 24
3x 9 = 27

In [61]:
for i in range(1,10,2) :
    print('3x',i,'=',i*3)

3x 1 = 3
3x 3 = 9
3x 5 = 15
3x 7 = 21
3x 9 = 27

In [63]:
for i in range(1,10) :
    if i % 2 !=0 : 
        print('3x',i,'=',i*3)

3x 1 = 3
3x 3 = 9
3x 5 = 15
3x 7 = 21
3x 9 = 27

In [64]:
print(sum(range(10)))

45

In [65]:
print(sum(range(1,10)))

45

In [66]:
print(sum(range(1,11)))

55

In [67]:
hab = 0
for n in range(1,11) :
    hab += n
    print(('합 :', hab))

('합 :', 1)
('합 :', 3)
('합 :', 6)
('합 :', 10)
('합 :', 15)
('합 :', 21)
('합 :', 28)
('합 :', 36)
('합 :', 45)
('합 :', 55)

In [68]:
hab = 0
for n in range(1,11) :
    hab += n
    print('합 :', hab)

합 : 1
합 : 3
합 : 6
합 : 10
합 : 15
합 : 21
합 : 28
합 : 36
합 : 45
합 : 55

In [69]:
print(sum(range(1,11,2)))

25

In [70]:
hab = 0
for i in range(1,11,2) :
    hab += i 
    print('합 : ',hab)

합 :  1
합 :  4
합 :  9
합 :  16
합 :  25

In [71]:
result = 1
for i in range(1,11) :
    result *= i
    print(result)

1
2
6
24
120
720
5040
40320
362880
3628800