Python 3.12.0에 연결됨

In [1]:
#리스트 생성

In [2]:
movie_rank = ["닥터스트레인지", "스플릿", "럭키"]

In [3]:
#리스트에 원소 추가

In [4]:
movie_rank.append = ["배트맨"]

AttributeError: 'list' object attribute 'append' is read-only

In [5]:
movie_rank.append("배트맨")

In [6]:
movie_rank.append(2:"슈퍼맨")

SyntaxError: invalid syntax (<ipython-input-6-faed988c5b49>, line 1)

In [7]:
movie_rank.insert(1,"슈퍼맨")

In [8]:
del movie_rank("럭키")

SyntaxError: cannot delete function call (<ipython-input-8-6df183e140e6>, line 1)

In [9]:
del movie_rank["럭키"]

TypeError: list indices must be integers or slices, not str

In [10]:
del movie_rank[3]

In [11]:
del movie_rank[1,3]

TypeError: list indices must be integers or slices, not tuple

In [12]:
del movie_rank[2]

In [13]:
del movie_rank[2]

In [14]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

In [15]:
langs = [lang1 + lang2]

In [16]:
nums = [1,2,3,4,5,6,7]

In [17]:
print("max: ", max(nums))
print("min: ", min(nums))

max:  7
min:  1

In [18]:
nums = [1,2,3,4,5]

In [19]:
print(nums())

TypeError: 'list' object is not callable

In [20]:
print(sum(nums))

15

In [21]:
cook = ["피자","김밥","만두","양념치킨","족발","피자","김치만두","쫄면","소시지","라면","팥빙수","김치전"]

In [22]:
print(len(cook))

12

In [23]:
print(sum(nums)/5)

3.0

In [24]:
average = sum(nums)/len(nums)

In [25]:
print(average)

3.0

In [26]:
price = ['20180728',100,130,140,150,160,170]

In [27]:
print(price(int))

TypeError: 'list' object is not callable

In [28]:
print(int(price))

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

In [29]:
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [30]:
nums = [1,2,3,4,5,6,7,8.9,10]

In [31]:
print(nums(0::2))

SyntaxError: invalid syntax (<ipython-input-31-45bfb3f3ff31>, line 1)

In [32]:
print(nums[::2])

[1, 3, 5, 7, 10]

In [33]:
nums = [1,2,3,4,5,6,7,8,9,10]

In [34]:
print(nums[0::2])

[1, 3, 5, 7, 9]

In [35]:
print(nums[1::2])

[2, 4, 6, 8, 10]

In [36]:
nums2 = [1,2,3,4,5]

In [37]:
print(nums[-1:0])

[]

In [38]:
print(nums2[::-1])

[5, 4, 3, 2, 1]

In [39]:
interest = ['삼성전자','lg전자','NAVER']

In [40]:
print(interest[1,2])

TypeError: list indices must be integers or slices, not tuple

In [41]:
print(interest[0],interest[2])

삼성전자 NAVER

In [42]:
interest.append('SK하이닉스','미래에셋대우')

TypeError: list.append() takes exactly one argument (2 given)

In [43]:
interest.append('SK하이닉스')

In [44]:
interest.append('미래에셋대우')

In [45]:
print(interest)

['삼성전자', 'lg전자', 'NAVER', 'SK하이닉스', '미래에셋대우']

In [46]:
print(interest[0:])

['삼성전자', 'lg전자', 'NAVER', 'SK하이닉스', '미래에셋대우']

In [49]:
#join 메서드

In [50]:
print(" ".join(interest))

삼성전자 lg전자 NAVER SK하이닉스 미래에셋대우

In [51]:
print('/'.join(interest))

삼성전자/lg전자/NAVER/SK하이닉스/미래에셋대우

In [52]:
print('/n'.join(interest))

삼성전자/nlg전자/nNAVER/nSK하이닉스/n미래에셋대우

In [53]:
print('\n'.join(interest))

삼성전자
lg전자
NAVER
SK하이닉스
미래에셋대우

In [54]:
#문자열 split 메서드

In [55]:
string = '삼성전자/LG전자/NAVER'

In [56]:
interest = string.split('/')

In [57]:
print(interest)

['삼성전자', 'LG전자', 'NAVER']

In [58]:
# 리스트 정렬

In [59]:
data = [2,4,3,1,5,10,9]

In [60]:
data.sort()

In [61]:
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [62]:
data2 = sorted(data)

In [63]:
print(data2)

[1, 2, 3, 4, 5, 9, 10]

In [64]:
# 파이썬 튜플

In [65]:
my_vaiable = {}

In [66]:
my_vaiable = ()

In [67]:
print(my_vaiable.type)

AttributeError: 'tuple' object has no attribute 'type'

In [68]:
type(my_vaiable)

tuple

In [69]:
movie_rank = ('닥터 스트레인지','스플릿','럭키')

In [70]:
t = ('a','b','c')

In [71]:
t = ('A','b','c')

In [72]:
interest = ('삼성전자', 'LG전자', 'SK 하이닉스')

In [73]:
interest2 = list(interest)

In [74]:
print(interest2)

['삼성전자', 'LG전자', 'SK 하이닉스']

In [75]:
interest3 = tuple(interest2)

In [76]:
print(interest3, type(interest3))

('삼성전자', 'LG전자', 'SK 하이닉스') <class 'tuple'>

In [77]:
# 튜플 언팩킹

In [78]:
temp = ('apple', 'banana', 'cake')

In [79]:
a, b, c = temp

In [80]:
print(a, b, c)

apple banana cake

In [81]:
# range 함수

In [82]:
data = tuple(range(2,100,2))

In [83]:
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [84]:
# 파이썬 딕셔너리

In [85]:
# 별 표현식

In [86]:
scores = [8.8,8.9,8.7,9.2,9.3,9.7,9.9,9.5,7.8,9.4]

In [87]:
print(scores[:*])

SyntaxError: invalid syntax (<ipython-input-87-b2858c31486d>, line 1)

In [88]:
*valid_scores, _, _ = scores

In [89]:
print(valid_scores)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [90]:
len(scores)

10

In [91]:
a,b,*valid_scores = scores

In [92]:
print(valid_scores)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [93]:
print(a)

8.8

In [94]:
temp = {}

In [95]:
아이스크림 = {'메로나':1000,'폴라포':1200,'빵빠레':1800}

In [96]:
아이스크림['죠스바'] = 1200
아이스크림['월드콘'] = 1500

In [97]:
print(아이스크림)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [98]:
print('메로나 가격: ', 아이스크림["메로나"])

메로나 가격:  1000

In [99]:
print(아이스크림[메로나])

NameError: name '메로나' is not defined

In [100]:
print(아이스크림['메로나'])

1000

In [101]:
아이스크림['메로나'] = 1300

In [102]:
print(아이스크림['메로나'])

1300

In [103]:
del 아이스크림['메로나']

In [104]:
print(아이스크림)

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [105]:
# 딕셔너리 생성

In [106]:
inventory = {
    '메로나' : [300,20],
    '비비빅' : [400,3],
    '죠스바' : [250, 100]
    }

In [107]:
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [108]:
print(inventory('메로나'[0]))

TypeError: 'dict' object is not callable

In [109]:
print(inventory['메로나'[0]])

KeyError: '메'

In [110]:
print(inventory['메로나'][0],'원')

300 원

In [111]:
print(inventory['메로나'][1],'개')

20 개

In [112]:
inventory['월드콘'] = [500,7]

In [113]:
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [114]:
icecream = {'탱크보이':1200,'폴라포':1200,'빵빠레':1800,'월드콘':1500,'메로나':1000}

In [115]:
name = icecream.keys()

In [116]:
print(name)

dict_keys(['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나'])

In [117]:
name = list(icecream.keys())

In [118]:
print(name)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [119]:
name = list(icecream.keys(int))

TypeError: dict.keys() takes no arguments (1 given)

In [120]:
name = list(icecream.keys(str))

TypeError: dict.keys() takes no arguments (1 given)