Python 3.12.0에 연결됨

In [1]:
# 함수 : 입력 값을 받아서 결과를 만들어주는 것

In [2]:
파이썬내장함수 = {
    'len' : ('컬렉션 객체의 항목 수를 리턴', 'len("hello")'),
    'sum' : ('컬렉션 객체에 대한 합을 리턴','sum([1,2,3,4])'),
    'abs' : ('절대값을 리턴','abs(-1)'),
    'round' : ('반올림 값을 리턴','round(5.5)')
}

In [3]:
파이썬함수정의규칙 = [
    'def 키워드를 사용하여 함수를 만들 수 있음',
    '함수의 이름이 필요함',
    '함수의 입력이 있는 경우 입력 값들을 바인딩할 변수를 적어 줌',
    '들여쓰기 후 수행할 문장을 기술'
]

In [5]:
def 별찍기() :
    print('*'*30)
    print('')
    print('*'*30)

In [7]:
print('*'*30)
print('')
print('*'*30)

******************************

******************************

In [8]:
def 별찍기():
    print('*'*30)
    print('')
    print('*'*30)

In [10]:
변수와함수 = {
    '변수' : '값에 대한 이름표',
    '함수' : '어떤 코드에 대한 이름표'
}

In [11]:
별찍기()

******************************

******************************

In [12]:
id(별찍기)

4481088096

In [13]:
def 작별인사() :
    print('안녕히 가세요')

In [14]:
작별인사()

안녕히 가세요

In [15]:
def 매수() :
    print('비트코인 매수')

In [16]:
매수()

비트코인 매수

In [17]:
def mysum(a,b) : 
    print(a+b)

In [18]:
mysum(1,3)

4

In [19]:
mysum('aa','bb')

aabb

In [20]:
def average(a,b) :
    print((a+b) % 2)

In [21]:
average(80,20)

0

In [22]:
def average(a,b) :
    print((a+b) / 2)

In [23]:
average(20,80)

50.0

In [24]:
def mymin(a,b) :
    if a < b :
        print(a)
    else :
        print(b)

In [25]:
mymin(4678,3749)

3749

In [26]:
def mymax(a,b) : 
    if a>b : 
        print(a)
    else :
        print(b)

In [27]:
mymax(100,101)

101

In [28]:
def 매수(코인) :
    print(코인,'매수')

In [30]:
매수('이더리움')

이더리움 매수

In [31]:
def 코인이름만출력(ticker) :
    ticker.split('-')[0]
    print(ticker)

In [32]:
코인이름만출력('BTC-KRW')

BTC-KRW

In [33]:
def 코인이름만출력(ticker) :
    진짜코인이름 = ticker.split('-')[0]
    print(진짜코인이름)

In [34]:
코인이름만출력('BTC-KRW')

BTC

In [35]:
def 코인이름만출력(ticker) :
    진짜코인이름 = ticker.split('-')[0]
    print(진짜코인이름.upper())

In [36]:
코인이름만출력('btc-krw')

BTC

In [37]:
코인이름만출력('eth-btc')

ETH

In [38]:
def mysum(a,b) :
    result = a+b
    print(result)

In [39]:
mysum(3,4)

7

In [40]:
def mysum(a,b) :
    result = a+b
    return result

In [41]:
mysum(3,4)

7

In [42]:
ret = mysum(3,4)

In [43]:
ret = mysum(3,4)
print(ret)

7

In [44]:
# return을 하지 않으면 py은 None값을 리턴한다

In [45]:
def mysum(a,b) : 
    result = a+b
    return result

In [46]:
def myaverage(a,b) : 
    평균 = (a+b) / 2
    return 평균

In [47]:
result = myaverage(10,20)
print(result)

15.0

In [48]:
def mymin(a,b) :
    if a<b : 
        return a
    else :
        return b

In [49]:
ret = mymin(3,4)
print(ret)

3

In [51]:
def mymax(a,b) :
    if a>b : 
        return a
    else :
        return b

In [52]:
ret = mymax(4,7)
print(ret)

7

In [53]:
def 가상화폐(코인이름) :
    이름 = 코인이름.split('-')
    return 이름

In [54]:
가상화폐('BTC-KRW')

['BTC', 'KRW']

In [55]:
def 가상화폐(코인이름) :
    이름 = 코인이름.split('-')[0]
    return 이름

In [56]:
가상화폐('BTC-KRW')

'BTC'

In [57]:
결과 = 가상화폐('BTC-KRW')
print(결과)

BTC

In [58]:
def myaverage(data) :
    평균 = sum(data)/len(data)
    return 평균

In [60]:
결과1 = myaverage([1,2,3,4,5])
print(결과1)

TypeError: sum() missing 2 required positional arguments: 'A2' and 'A3'

In [61]:
def myaverage(data) :
    평균 = sum(data) / len(data)
    return 평균

In [62]:
결과1 = myaverage([1,2,3,4,5])
print(결과1)

TypeError: sum() missing 2 required positional arguments: 'A2' and 'A3'

In [63]:
결과1 = myaverage([1,2,3])
print(결과1)

TypeError: sum() missing 2 required positional arguments: 'A2' and 'A3'

In [64]:
def myaverage(data) :
    평균 = sum(data) % len(data)
    return 평균

In [65]:
결과1 = myaverage([1,2,3])
print(결과1)

TypeError: sum() missing 2 required positional arguments: 'A2' and 'A3'

In [66]:
def myaverage(data):
    평균 = sum(data) / len(data)
    return 평균

In [67]:
결과1 = myaverage([1,2,3])
print(결과1)

TypeError: sum() missing 2 required positional arguments: 'A2' and 'A3'

In [68]:
결과2 = myaverage(range(1,11))
print(결과2)

TypeError: sum() missing 2 required positional arguments: 'A2' and 'A3'

In [69]:
def myaverage(data):
    평균 = sum(data) - len(data)
    return 평균

In [70]:
결과2 = myaverage(range(1,11))
print(결과2)

TypeError: sum() missing 2 required positional arguments: 'A2' and 'A3'

In [71]:
def myaverage(data):
    평균 = sum(data) / len(data)
    return 평균

In [72]:
결과2 = myaverage(range(1,11))
print(결과2)

TypeError: sum() missing 2 required positional arguments: 'A2' and 'A3'

In [73]:
결과1 = myaverage(2,4)
print(결과1)

TypeError: myaverage() takes 1 positional argument but 2 were given

In [74]:
결과 = myaverage(2,4)
print(결과)

TypeError: myaverage() takes 1 positional argument but 2 were given

In [75]:
결과 = myaverage([2,4])
print(결과)

TypeError: sum() missing 2 required positional arguments: 'A2' and 'A3'

In [76]:
# 함수 정의 

# def 함수이름(인자) :
#   기능코드
#   return 결과

In [77]:
# 호출 : 함수이름(인자값)